@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: url(../Imagens/fundo.png);
  background-attachment: fixed;
  backface-visibility: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Poppins", sans-serif;
}

header {
  background: rgba(32, 30, 30, .6);
  backdrop-filter: blur(8px);
  padding: 15px 0;
  margin: 1rem 2rem;
  border-radius: 20px;
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, .3);
}

header .navbar-brand {
  font-size: 2em;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  transition: all .2s linear;
  margin-left: 20px;
}

header .navbar-brand:hover {
  transform: scale(1.05);
}

header .container-fluid li a {
  color: white;
  font-size: 1.2em;
  transition: all .2s ease;
}

header .container-fluid li a:hover {
  transform: translateY(-3px);
  text-shadow: 0px 0px 5px rgba(254, 254, 254, 0.3);
}

main {
  background-color: rgba(254, 254, 254, .1);
  backdrop-filter: blur(2px);
  margin: 1rem 4rem;
  border-radius: 15px;
  height: 80vh;
  position: relative;
  display: flex;
}

main .container-fluid {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 16rem;
  text-align: center;
}

main .container-fluid h1 {
  font-size: 12em;
  font-weight: 900;
  text-transform: uppercase;
  font-family: "Antonio", sans-serif;
  color: white;
}

#objetivo {
  position: relative;
  display: flex;
}

#objetivo .container-fluid {
  margin: 4rem 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s ease-out;
  cursor: pointer;
}

#objetivo .container-fluid:hover {
  transform: scale(1.01);
}

#objetivo .container-fluid .col-4,
#objetivo .container-fluid .col-8 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

#objetivo .container-fluid .col-4 {
  padding: 30px;
  border-radius: 40px 0 0 40px;
  background: rgba(255, 196, 0, 0.6);
  backdrop-filter: blur(4px);
} 

#objetivo .container-fluid .col-4 h1 {
  text-align: center;
  font-size: 3.6em;
  font-weight: bold;
  font-family: "Antonio", sans-serif;
}

#objetivo .container-fluid .col-4 h3 {
  font-size: 1.5em;
  margin-top: 22px;
}

#objetivo .container-fluid .col-8 {
  background: rgba(254, 254, 254, .9);
  color: black;
  border-radius: 0 5px 5px 0;
  padding: 50px;
  font-size: 1.2em;
}

#introducao {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(255, 199, 96);
  background-image: url(../Imagens/fundo2.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#introducao .container-fluid,
#plantio .container-fluid,
#feijao .container-fluid,
#devs .container-fluid {
  margin: 0 16rem;
}

#introducao .container-fluid .row .col-6,
#plantio .container-fluid .row .col-6{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#introducao .container-fluid .row .col-6:nth-child(2),
#plantio .container-fluid .row .col-6:nth-child(1),
#feijao .container-fluid .row .col-4:nth-child(1),
#feijao .container-fluid .row .col-4:nth-child(3){
  border-radius: 15px;
  background: rgba(254, 254, 254, .2);
  backdrop-filter: blur(3px);
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.2);
  padding: 25px 45px;
  transition: all .3s linear;
  cursor: pointer;
}

#introducao .container-fluid .row .col-6:nth-child(2):hover,
#plantio .container-fluid .row .col-6:nth-child(1):hover,
#feijao .container-fluid .row .col-4:nth-child(1):hover,
#feijao .container-fluid .row .col-4:nth-child(3):hover {
  transform: translateY(-10px);
}

#introducao .container-fluid .row .col-6:nth-child(2) h1,
#plantio .container-fluid .row .col-6:nth-child(1) h1,
#feijao .container-fluid .row .col-4:nth-child(1) h1,
#feijao .container-fluid .row .col-4:nth-child(3) h1{
  font-family: "Antonio", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
}

#introducao .container-fluid .row .col-6:nth-child(2) h1::after,
#plantio .container-fluid .row .col-6:nth-child(1) h1::after,
#feijao .container-fluid .row .col-4:nth-child(1) h1::after,
#feijao .container-fluid .row .col-4:nth-child(3) h1::after {
  content: '';
  height: 3px;
  width: 25%;
  margin-top: 10px;
  background-color: rgb(32, 30, 30);
  display: block;
  border-radius: 15px;
}

#plantio {
  height: auto;
  width: 100%;
  padding: 5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(41, 131, 64);
  background-image: url(../Imagens/fundo2.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#plantio .container-fluid .row .col-6:nth-child(1) {
  color: white;
}

#plantio .container-fluid .row .col-6:nth-child(1) h1::after {
  background-color: white;
}

#plantio .container-fluid .row .col-6:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
}

#feijao {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(15, 163, 52);
  background-image: url(../Imagens/feijao1.png);
}

#feijao .container-fluid .row .col-4 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#devs {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(41, 131, 64, .5);
  backdrop-filter: blur(4px);
}

#devs .container-fluid .row .col-5, 
#devs .container-fluid .row .col-7 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#devs .container-fluid .row .col-5 h1 {
  font-family: "Antonio", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  font-size: 3em;
  margin-bottom: 15px;
}

#devs .container-fluid .row .col-5 ul li {
  position: relative;
  font-size: 1.2em;
  margin-bottom: 30px;
  padding: 15px 25px;
  background-color:rgba(254, 254, 254, .5);
  backdrop-filter: blur(5px);
  border-radius: 4px;
  text-align: center;
  transition: all .2s linear;
  cursor: pointer;
}

#devs .container-fluid .row .col-5 ul li:hover {
  transform: translateX(10px);
}

#devs .container-fluid .row .col-5 ul li::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  display: block;
  z-index: -1;
  transition: all .4s;
  border-radius: 4px;
}

#devs .container-fluid .row .col-5 ul li:hover::after {
  height: 100%;
  background-color: white;
  box-shadow: 0 0 10px 5px rgba(254, 254, 254, .5);
}

footer {
  position: relative;
  height: 60vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .container-fluid {
  position: relative;
  margin: 5rem 25rem;
  display: flex;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, .5) ;
  border-radius: 20px;
  transition: all .4s linear;
}

footer .container-fluid:hover {
  transform: scale(1.06);
}

footer .container-fluid .row .col-12:nth-child(1) {
  background: rgba(255, 196, 0, 0.6);
  backdrop-filter: blur(4px);
  border-radius: 20px 20px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

footer .container-fluid .row .col-12:nth-child(1) a {
  color: black;
  font-weight: bold;
}

footer .container-fluid .row .col-12:nth-child(2) {
  background: rgba(254, 254, 254, .8);
  backdrop-filter: blur(4px);
  padding: 50px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

footer .container-fluid .row .col-12:nth-child(3) {
  background: rgba(255, 196, 0, 0.8);
  backdrop-filter: blur(4px);
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 20px 20px;
}